doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.scss")
    title Document
  body
    #canvas-frame
    p: span FPS: 
      span#fps-counter
    p: span Container collisions per second (pressure):
      span#pressure-counter
    label(label-for="entity-number-input") Number of Entities: 
    input#entity-number-input(value="2")
    button#add-entity-button() Add Entity
    button#remove-entity-button() Remove Entity
    br
    label(label-for="container-heat-input") Container "Heat": 
    input#container-heat-input(value="0")
    script(src="main.ts" type="module")